body {
    font-family: Arial;
    background: #f2f2f2;
}

h2 {
    text-align: center;
}

form {
    background: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
}
